/* CodeRax */
/* YouTube : https://www.youtube.com/channel/UCPNW8Pu3MiOx2hJyLt2d8_A */
/* Telegram : https://t.me/code_rax  */
/* GitHub : https://github.com/code-rax */

.flex {
  display: flex;
}
/* align item */
.ai-c {
  align-items: center;
}

/* felx direction */
.fd-c {
  flex-direction: column;
}
.fd-r {
  flex-direction: row;
}

/* felx wrap */

.fw-w {
  flex-wrap: wrap;
}

/* justify content */

.jc-sa {
  justify-content: space-around;
}
.jc-sb {
  justify-content: space-between;
}
.jc-se {
  justify-content: space-evenly;
}
.jc-c {
  justify-content: center;
}
.jc-fe {
  justify-content: flex-end;
}
.jc-fs {
  justify-content: flex-start;
}

/* felx grow */

.f-g-1 {
  flex-grow: 1;
}
.f-g-2 {
  flex-grow: 2;
}
.f-g-3 {
  flex-grow: 3;
}
.f-g-4 {
  flex-grow: 4;
}
