/* CodeRax */
/* YouTube : https://www.youtube.com/channel/UCPNW8Pu3MiOx2hJyLt2d8_A */
/* Telegram : https://t.me/code_rax  */
/* GitHub : https://github.com/code-rax */

footer {
  background-color: #021056;
}
footer img {
  width: 40px;
  height: 40px;
}
footer .textBox {
  width: 80%;
  height: 100%;
  font-size: 1em;
  margin: auto;
  padding-top: 1em;
}
footer .copyright {
  font-size: small;
  text-align: center;
}
